pkgbase = kramer-vs44-remote-control
	pkgdesc = Control a Kramer VS-44HN HDMI matrix switcher over TCP/IP or RS-232
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/Piero-93/kramer-vs44-remote-control
	arch = any
	license = GPL-3.0-or-later
	depends = python
	depends = tk
	depends = hicolor-icon-theme
	optdepends = python-pyserial: RS-232 support, for a serial cable instead of the network
	source = kramer-vs44-remote-control-0.2.0.tar.gz::https://github.com/Piero-93/kramer-vs44-remote-control/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = 57af68b9f8e1c036d2dcab931b307a6bb0f7be59b1f35fe3ab3b8a6677566864

pkgname = kramer-vs44-remote-control
